body {

}
.sidebar {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
}
.notsidebar {
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    position: fixed;
}
.btn-group-vert {
    display: block;
    padding: 0;
    margin: 0;
}
.btn-group-vert>.btn-vert {
    margin-top: 0;
    border-radius: 0;
}
.btn-group-vert>.btn-vert:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.btn-group-vert>.btn-vert:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.custom.rzslider {
    margin: 25px 0 5px 0;
}
.custom.rzslider .rz-pointer {
    width: 14px;
    height: 14px;
    top: auto;
    bottom: 0;
}
.custom.rzslider .rz-bubble {
    bottom: 14px;
}
.custom.rzslider .rz-bar-wrapper {
    padding-top: 10px;
}
.custom.rzslider .rz-pointer:after {
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
}
.topbar {
    width: 100%;
}
.topbar .btn {
    margin-left: 5px;
    margin-right: 5px;
}
.topbar .buttonbar {
    display: inline-block;
}
.topbar .buttonbar.second {
    margin-left: 70px;
}
canvas {
    cursor: crosshair;
}