<!DOCTYPE html>
<html lang="en" ng-app="refractorium">
<head>
    <meta charset="UTF-8">
    <title>Refractorium</title>
    <link rel="shortcut icon" href="img/favicon.ico" />

    <script src="lib/angular.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/rzslider.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>
<body ng-controller="MainController as ctrl" class="dark">


    <div class="sidebar">
        <img src="img/name.png" style="margin-left: -5px; margin-bottom: 20px; width: 100%;">
        <p>Double click canvas for fun.</p>
        <p><a href="http://samreay.github.io/project/2017/03/07/refractorium.html" target="_blank" >See here for more details!</a></p>

        <h4 style="cursor: pointer;" ng-click="ctrl.clickRenderSettings()">Render Settings </h4>
        <div ng-show="ctrl.renderSettingVisible">
            <label>Canvas Size</label>
            <div class="btn-group" style="font-size: 0.8em;">
                <button class="btn btn-default" ng-click="ctrl.resize(size.height)" ng-class="{active: size.height == ctrl.selectedSize}" ng-repeat="size in ctrl.sizes">{{size.label}}</button>
            </div>

            <label for="NumRayPerFrame">Rays Per Frame:</label>
            <rzslider class="custom" id="NumRayPerFrame" rz-slider-model="ctrl.renderer.numRaysPerFrame" rz-slider-options="ctrl.sliderNumRaysPerFrameOptions"></rzslider>


            <label for="NumBounces">Number of Light Bounces:</label>
            <rzslider class="custom" id="NumBounces" rz-slider-model="ctrl.renderer.numBounces" rz-slider-options="ctrl.sliderBounceOptions"></rzslider>

            <label for="Exposure">Exposure:</label>
            <rzslider class="custom" id="Exposure" rz-slider-model="ctrl.renderer.exposure" rz-slider-options="ctrl.sliderExposureptions"></rzslider>

        </div>

        <h4>Scenes</h4>

        <select class="form-control input-sm" name="sceneSelect" id="sceneSelect" ng-model="ctrl.activeScene" ng-change="ctrl.selectScene()">
            <option ng-repeat="scene in ctrl.scenes" value="{{scene.name}}">{{scene.name}}</option>
        </select>

        <h4>Objects</h4>

        <select class="form-control input-sm" name="objectSelect" id="objectSelect" style="margin-bottom: 20px;"
                ng-model="ctrl.activeObjectIndex" ng-change="ctrl.selectObject()">
            <option ng-repeat="object in ctrl.sceneObjects" value="{{$index}}">{{object.getName()}}</option>
        </select>

        <div ng-if="ctrl.selectedObject != null">
            <div ng-repeat="slider in ctrl.getSelectedObjectProperties()">
                <label for="{{slider.key}}">{{slider.label}}</label>
                <rzslider id="{{slider.key}}" class="custom" rz-slider-model="slider.value" rz-slider-options="slider.options" ></rzslider>
            </div>
            <button class="btn btn-danger" style="float: right; margin-top: 10px;" ng-click="ctrl.removeObject()">Remove</button>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="notsidebar">
            <div class="topbar">
                <div class="buttonbar">
                    <label>Add Object:</label>
                    <button class="button btn btn-default" ng-click="ctrl.addObject(objtype)" ng-repeat="objtype in ctrl.generator.getObjectNames()">{{objtype}}</button>
                </div>
                <div class="buttonbar second">
                    <label>Add Light:</label>
                    <button class="button btn btn-default" ng-click="ctrl.addLight(objtype)" ng-repeat="objtype in ctrl.generator.getLightNames()">{{objtype}}</button>
                </div>
            </div>
            <div id="canvases">
                <canvas id="mainCanvas" width="{{ctrl.width}}" height="{{ctrl.height}}"
                        ng-mouseup="ctrl.canvasMouseUp($event)"
                        ng-mouseleave="ctrl.canvasMouseLeave($event)"
                        ng-mousemove="ctrl.canvasMouseMove($event)"
                        ng-mousedown="ctrl.canvasClick($event)"
                        ng-dblclick="ctrl.switchPlots()"></canvas>
                <canvas id="hiddenCanvas" width="{{ctrl.width}}" height="{{ctrl.height}}"
                        ng-mouseup="ctrl.canvasMouseUp($event)"
                        ng-mouseleave="ctrl.canvasMouseLeave($event)"
                        ng-mousemove="ctrl.canvasMouseMove($event)"
                        ng-mousedown="ctrl.canvasClick($event)"
                        ng-dblclick="ctrl.switchPlots()" style="display: none"></canvas>
            </div>

        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/rzslider.min.js"></script>

    <script src="js/helper.js"></script>
    <script src="js/scene.js"></script>
    <script src="js/light.js"></script>
    <script src="js/renderer.js"></script>
    <script src="js/scenes.js"></script>
    <script src="js/app.js"></script>
</body>
</html>